<div class="todo-list-item">
    <div *ngIf="todo_folder">
        <div *ngIf="todo_folder.is_composite(); else todo_folder_leaf">
            {{todo_folder.label}}
            
            <div *ngFor="let todo_subfolder of todo_folder.children">
                <app-todo-menu-item [todo_folder]="todo_subfolder"></app-todo-menu-item>
            </div>
        </div>

        <ng-template #todo_folder_leaf>
            <a href="#">
                {{todo_folder.label}}
            </a>
        </ng-template>
    </div>
</div>